.env
.npmrc
.DS_Store

hidream-replicate.mjs

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Input
input/

# Output
*.log
*.out
output/

# VSCode
.vscode/

# Output & Test Results
test/results/
novel/
# Allow markdown description files in novel/
!novel/storyboard.md
!novel/characters/character-descriptions.md
!novel/backgrounds/background-descriptions.md
!novel/scenes/scene-descriptions.md